.reviews {
  text-align: center;
  margin-bottom: 4rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.review {
  max-width: 700px;
}

.image {
  width: 120px;
  height: 120px;
  border-radius: 4px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.review h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.review p {
  line-height: 1.6;
  font-size: 15px;
}
