/* Fjern Vite-demo styling */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Global styling */
body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #ffffff;
  color: #000;
}

/* Gør main fleksibel, så footer ligger nederst */
main {
  flex: 1;
}
